[Unit]
Description=Service for managing of b2, stats and backups hosts.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php -S 0.0.0.0:8000 -t /root/aru/seru_admin /root/aru/seru_admin/listener.php
WorkingDirectory=/root/aru/seru_admin
Restart=always
SyslogIdentifier=host-admin-listener
StandardOutput=append:/root/aru/seru_admin/logs/host-admin-listener-output.log
StandardError=append:/root/aru/seru_admin/logs/host-admin-listener-error.log

[Install]
WantedBy=multi-user.target
